<div class="container">
    <div *ngIf="product===null" class="error-container">
        <div class="error-container-header">
            <img src="assets/error_24dp.svg" alt="error logo">
            <span>Cannot open this page, please go back</span>
        </div>
        <div class="error-container-footer">
            <button mat-raised-button>Home</button>
            <button mat-raised-button>Shop</button>
        </div>
    </div>

    <div class="product-card-container">
        <div class="product-title-section">
            <span class="product-title">{{product?.productName}}</span>
        </div>

        <mat-card class="product-card-right-section component-card">
            <div class="product-checkout-section">
                <p class="component-card-title">Product Details</p>
                <div>
                    <span class="product-text-data">MRP (Incl. of all taxes)</span>
                    <span class="product-text-data">₹{{product?.productPrice}}</span>
                </div>
                <div>
                    <span class="product-text-data">Discount</span>
                    <span class="product-text-data">0</span>
                </div>
                <div>
                    <span class="product-text-data">Final Price</span>
                    <span class="product-text-data">₹{{product?.productPrice}}</span>
                </div>
                <div class="product-checkout-buttons">
                    <button mat-raised-button style="color: var(--mat-blue);">Wishlist</button>
                    <button mat-raised-button color="primary" >Buy</button>
                </div>
            </div>

        </mat-card>

        <div class="product-card-right-section component-card">
            <div class="product-checkout-section">
                <p class="component-card-title">Address</p>
                <p class="">204, Zolo Valor, Sainath nagar, Pune, Mahrashtra, India - 411014</p>
                <div class="product-checkout-buttons">
                    <button mat-raised-button style="color: var(--mat-blue);">Change Address</button>
                </div>
            </div>

        </div>

        <div class="product-card-right-section component-card">
            <div class="product-checkout-section">
                <p class="component-card-title">Payment Method</p>
                <div>
                    <mat-radio-button [disabled]=true>UPI</mat-radio-button>
                    <mat-radio-button [disabled]=true>EMI</mat-radio-button>
                    <mat-radio-button [disabled]=true>Net Banking</mat-radio-button>
                    <mat-radio-button>eCommerce Pay Balance</mat-radio-button>
                </div>
            </div>

        </div>

        <div class="product-card-right-section component-card">
            <div class="product-checkout-section">
                <p class="component-card-title">Price Breakup</p>
                <div style="display: flex; justify-content: space-between;">
                    <span class="product-text-data">MRP (Incl. of all taxes)</span>
                    <span class="product-text-data">₹{{product?.productPrice}}</span>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <span class="product-text-data">Units</span>
                    <span class="product-text-data">1</span>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <span class="product-text-data">Discount</span>
                    <span class="product-text-data">0</span>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <span class="product-text-data">Final Price</span>
                    <span class="product-text-data">₹{{product?.productPrice}}</span>
                </div>
                <!-- <div class="product-checkout-buttons">
                    <button mat-raised-button style="color: var(--mat-blue);">Wishlist</button>
                    <button mat-raised-button color="primary" >Buy</button>
                </div> -->
            </div>

        </div>

        <button mat-raised-button color="primary" class="checkout-button">Buy</button>
    </div>

</div>
