<div class="container">
    <div *ngIf="user===null" class="error-container">
        <div class="error-container-header">
            <img src="assets/error_24dp.svg" alt="error logo">
            <span>Couldn't fetch your details at the moment. Please try again later.</span>
        </div>
        <div class="error-container-footer">
            <button mat-raised-button>Home</button>
            <button mat-raised-button>Shop</button>
        </div>
    </div>

    <div *ngIf="user!=null" class="profile-container">
        <div>
            <p class="page-title">Profile</p>

            <!-- Basic Details -->
            <mat-card class="component-card">
                <mat-card-header class="card-header-section">
                    <mat-card-title class="card-title">Basic Details</mat-card-title>
                    <mat-icon>account_box</mat-icon>
                    <!-- <mat-icon>event_note</mat-icon> -->
                </mat-card-header>
    
                <!-- <mat-card-content> -->
                    <div class="user-info-section">
                        <section class="user-info-field">
                            <span class="user-info-field-label">Username</span>
                            <span class="user-info-field-value">hello_there</span>
                        </section>
                        <section class="user-info-field">
                            <span class="user-info-field-label">Email address</span>
                            <span class="user-info-field-value">{{user.email}}</span>
                        </section>
                        <section class="user-info-field">
                            <span class="user-info-field-label">First Name</span>
                            <span class="user-info-field-value">{{user.firstname}}</span>
                        </section>
                        <section class="user-info-field">
                            <span class="user-info-field-label">Last Name</span>
                            <span class="user-info-field-value">{{user.lastname}}</span>
                        </section>
                    </div>

                    <!-- <mat-form-field class="user-info-section" aria-disabled="true">
                        <section class="user-info-field">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" value={{user.firstname}} readonly="true">
                        </section>
                        <section class="user-info-field">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="First Name" value={{user.lastname}} readonly="true">
                        </section>
                        <section class="user-info-field">
                            <mat-label>Email address</mat-label>
                            <input matInput placeholder="First Name" value={{user.email}} readonly="true">
                        </section>
                        <section class="user-info-field">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="First Name" value="+1 1234567890" readonly="true">
                        </section>
                    </mat-form-field>


                    <form class="user-info-section">
                        <mat-form-field class="user-info-field">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" value={{user.firstname}} readonly="true">
                        </mat-form-field>
                        <mat-form-field class="user-info-field">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="First Name" value={{user.lastname}} readonly="true">
                        </mat-form-field>
                        <mat-form-field class="user-info-field">
                            <mat-label>Email address</mat-label>
                            <input matInput placeholder="First Name" value={{user.email}} readonly="true">
                        </mat-form-field>
                        <mat-form-field class="user-info-field">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="First Name" value="+1 1234567890" readonly="true">
                        </mat-form-field>
                    </form> -->
                <!-- </mat-card-content> -->
    
                <mat-card-actions>
                    <button mat-button color="primary" routerLink="/profile/edit">Edit Profile</button>
                </mat-card-actions>
            </mat-card>

            <!-- Address Details -->
            <mat-card class="component-card">
                <mat-card-header class="card-header-section">
                    <mat-card-title class="card-title">Addresses</mat-card-title>
                    <mat-icon>home_work</mat-icon>
                    <!-- <mat-icon>event_note</mat-icon> -->
                </mat-card-header>
    
                <!-- <mat-card-content> -->
                    <div class="user-info-section">
                        <section class="user-info-field">
                            <span class="user-info-field-label">First Name</span>
                            <span class="user-info-field-value">{{user.firstname}}</span>
                        </section>
                        <section class="user-info-field">
                            <span class="user-info-field-label">Last Name</span>
                            <span class="user-info-field-value">{{user.lastname}}</span>
                        </section>
                        <section class="user-info-field">
                            <span class="user-info-field-label">Email address</span>
                            <span class="user-info-field-value">{{user.email}}</span>
                        </section>
                        <section class="user-info-field">
                            <span class="user-info-field-label">Phone Number</span>
                            <span class="user-info-field-value">+1 1234567890</span>
                        </section>
                    </div>

                    <!-- <mat-form-field class="user-info-section" aria-disabled="true">
                        <section class="user-info-field">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" value={{user.firstname}} readonly="true">
                        </section>
                        <section class="user-info-field">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="First Name" value={{user.lastname}} readonly="true">
                        </section>
                        <section class="user-info-field">
                            <mat-label>Email address</mat-label>
                            <input matInput placeholder="First Name" value={{user.email}} readonly="true">
                        </section>
                        <section class="user-info-field">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="First Name" value="+1 1234567890" readonly="true">
                        </section>
                    </mat-form-field>


                    <form class="user-info-section">
                        <mat-form-field class="user-info-field">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" value={{user.firstname}} readonly="true">
                        </mat-form-field>
                        <mat-form-field class="user-info-field">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="First Name" value={{user.lastname}} readonly="true">
                        </mat-form-field>
                        <mat-form-field class="user-info-field">
                            <mat-label>Email address</mat-label>
                            <input matInput placeholder="First Name" value={{user.email}} readonly="true">
                        </mat-form-field>
                        <mat-form-field class="user-info-field">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="First Name" value="+1 1234567890" readonly="true">
                        </mat-form-field>
                    </form> -->
                <!-- </mat-card-content> -->
    
                <mat-card-actions>
                    <button mat-button color="primary" routerLink="/profile/edit">Edit Profile</button>
                </mat-card-actions>
            </mat-card>

            <!-- Wallet Details -->
            <mat-card class="component-card">
                <mat-card-header class="card-header-section">
                    <mat-card-title class="card-title">Wallet</mat-card-title>
                    <mat-icon>account_balance_wallet</mat-icon>
                    <!-- <mat-icon>event_note</mat-icon> -->
                </mat-card-header>
    
                <!-- <mat-card-content> -->
                    <div class="user-info-section">
                        <section class="user-info-field">
                            <span class="user-info-field-label">First Name</span>
                            <span class="user-info-field-value">{{user.firstname}}</span>
                        </section>
                        <section class="user-info-field">
                            <span class="user-info-field-label">Last Name</span>
                            <span class="user-info-field-value">{{user.lastname}}</span>
                        </section>
                        <section class="user-info-field">
                            <span class="user-info-field-label">Email address</span>
                            <span class="user-info-field-value">{{user.email}}</span>
                        </section>
                        <section class="user-info-field">
                            <span class="user-info-field-label">Phone Number</span>
                            <span class="user-info-field-value">+1 1234567890</span>
                        </section>
                    </div>

                    <!-- <mat-form-field class="user-info-section" aria-disabled="true">
                        <section class="user-info-field">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" value={{user.firstname}} readonly="true">
                        </section>
                        <section class="user-info-field">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="First Name" value={{user.lastname}} readonly="true">
                        </section>
                        <section class="user-info-field">
                            <mat-label>Email address</mat-label>
                            <input matInput placeholder="First Name" value={{user.email}} readonly="true">
                        </section>
                        <section class="user-info-field">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="First Name" value="+1 1234567890" readonly="true">
                        </section>
                    </mat-form-field>


                    <form class="user-info-section">
                        <mat-form-field class="user-info-field">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" value={{user.firstname}} readonly="true">
                        </mat-form-field>
                        <mat-form-field class="user-info-field">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="First Name" value={{user.lastname}} readonly="true">
                        </mat-form-field>
                        <mat-form-field class="user-info-field">
                            <mat-label>Email address</mat-label>
                            <input matInput placeholder="First Name" value={{user.email}} readonly="true">
                        </mat-form-field>
                        <mat-form-field class="user-info-field">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="First Name" value="+1 1234567890" readonly="true">
                        </mat-form-field>
                    </form> -->
                <!-- </mat-card-content> -->
    
                <mat-card-actions>
                    <button mat-button color="primary" routerLink="/profile/edit">Edit Profile</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="profile-section">
            <img *ngIf="user.profilePicture===undefined" src="./././assets/account_circle_24dp.svg" height="200" width="200" alt="profile icon">
            <img *ngIf="user.profilePicture!=null" src={{user.profilePicture}} height="200" width="200" alt="profile icon">
            <span>&#64; {{user.username}}</span>
        </div>

        <!-- <div>
            <mat-form-field class="user-info-section">
                <mat-form-field class="user-info-field">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" value={{user.firstname}} readonly="true">
                </mat-form-field>
                <mat-form-field class="user-info-field">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="First Name" value={{user.lastname}} readonly="true">
                </mat-form-field>
                <mat-form-field class="user-info-field">
                    <mat-label>Email address</mat-label>
                    <input matInput placeholder="First Name" value={{user.email}} readonly="true">
                </mat-form-field>
                <mat-form-field class="user-info-field">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="First Name" value="+1 1234567890" readonly="true">
                </mat-form-field>
            </mat-form-field>
        </div> -->
    </div>
</div>
