.container{
    max-width: 1000px;
    margin: 0 auto;
}

.page-title{
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0 0.25rem;
}

.component-card{
    margin: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    /* border-radius: 0.25rem 0.25rem 0 0; */
    /* background-color: #eceef0; */
    border-bottom: 1px solid #e9ecef;
}

.card-title{
    font-size: 0.9rem;
    /* font-weight: 500; */
}

.profile-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
}

.profile-section img{
    background-color: #efefef;
    border-radius: 50%;
    margin: 1em 0;
}

.user-info-section{
    /* width: 100%; */
    display: grid;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* margin: 0 auto; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* background-color: blue; */
    /* height: 100px; */
}

.user-info-field{
    display: flex;
    flex-direction: column;
    /* flex: 0 0 48%; */
    /* margin: 10px 1%; */
    /* width: 48%; */
    /* width: 95%; */
    background-color: #f4f4f4;
    /* background-color: #d7d7d7; */
    /* background-color: #efefef; */
    /* display: inline-block; */
    padding: 5px 10px;
    /* margin: 0.125rem 0; */
    border-radius: 0.25rem;
    /* background-color: green; */
}

.user-info-field-label{
    /* font-size: 0.8rem; */
    font-weight: 500;
    /* color: #333; */
}

.user-info-field-value{
    /* font-size: 0.9rem; */
    font-weight: 400;
    /* color: #555; */
}

@media (max-width: 768px) {
    .user-info-section{
        grid-template-columns: 1fr;
    }
    
    .user-info-field{
        /* flex: 0 0 90%; */
        /* width: 90%; */
        /* margin: 10px 4%; */
    }
}