<div class="container">
    <div class="profile-section">
        <img src="./././assets/account_circle_24dp.svg" height="200" width="200" alt="profile icon">
        <span>&#64; myUserName</span>
    </div>

    <div>
        <mat-form-field class="user-info-section">
            <section class="user-info-field">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" value="John" disabled>
            </section>
            <section class="user-info-field">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="First Name" value="Doe" disabled>
            </section>
            <section class="user-info-field">
                <mat-label>Email address</mat-label>
                <input matInput placeholder="First Name" value="john.doe@gmail.com" disabled>
            </section>
            <section class="user-info-field">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="First Name" value="+1 1234567890" disabled>
            </section>
        </mat-form-field>
    </div>
</div>
