/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400..700&display=swap');

:root{
    --mat-blue: #3f51b5;
    --adjusted-height: calc(100vh-2px);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Finlandica', sans-serif;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

a{
    text-decoration: none;
    color: #126ae5;
    cursor: pointer;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 1rem 0; */
}

.loading-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.error-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.error-container-header{
    display: flex;
    justify-content: center;
}

.error-container-footer{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0.25rem;
}

.medium-card{
    max-width: 800px;
    margin: 0 auto;
}

.small-card{
    max-width: 600px;
    margin: 0 auto;
}

.primary-raised-button{
    color: var(--mat-blue);
}
