<div class="card">
  <mat-form-field appearance="outline" class="item">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="item">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="item">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Username">
  </mat-form-field>

  <mat-form-field appearance="outline" class="item">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" type="email">
  </mat-form-field>

  <mat-form-field appearance="outline" class="item">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password">
  </mat-form-field>

  <mat-form-field appearance="outline" class="item">
    <mat-label>Confirm Password</mat-label>
    <input matInput placeholder="Password" type="password">
  </mat-form-field>

  <div class="register-button">
    <button mat-button type="submit">Register</button>
  </div>
</div>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="background-color: blue;">
  <mat-button-toggle value="bold">I agree to the terms and conditions</mat-button-toggle>
</mat-button-toggle-group>
