<div class="container">
    <div *ngIf="fetching" class="loading-spinner">
        <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
    </div>

    <div *ngIf="product===null && !fetching" class="error-container">
        <div class="error-container-header">
            <img src="assets/error_24dp.svg" alt="error logo">
            <span>The product is not found</span>
        </div>
        <div class="error-container-footer">
            <button mat-raised-button>Home</button>
            <button mat-raised-button>Shop</button>
        </div>
    </div>

    <div *ngIf="product && !fetching" class="product-card-container">
        <div class="product-title-section">
            <span class="product-title">{{product.productName}}</span>
        </div>
        <div>
            <app-carousel [images]="product.productImages" class="carousel-container"></app-carousel>
        </div>

        <div class="product-card-right-section">
            <div class="product-checkout-section">
                <div>
                    <span class="product-text-data">MRP (Incl. of all taxes)</span>
                    <span class="product-text-data">₹{{product.productPrice}}</span>
                </div>
                <div>
                    <span class="product-text-data">Discount</span>
                    <span class="product-text-data">0</span>
                </div>
                <div>
                    <span class="product-text-data">Final Price</span>
                    <span class="product-text-data">₹{{product.productPrice}}</span>
                </div>
                <mat-divider></mat-divider>
                <div class="product-checkout-buttons">
                    <button mat-raised-button style="color: var(--mat-blue);">Wishlist</button>
                    <button mat-raised-button color="primary" [routerLink]="['/checkout']">Buy</button>
                </div>
            </div>
            <div>
                <p class="product-text-data">Description</p>
                <pre class="product-description">{{product.productDescription}}</pre>
            </div>
            <mat-divider></mat-divider>
            <div>
                <p class="product-text-data">Specification</p>
                <div class="product-specification-section">
                    <div *ngFor="let specification of product.productSpecification" class="product-specification">
                        <p class="product-specification-title">{{specification.specificationKey}}</p>
                        <p class="product-specification-value">{{specification.specificationValue}}</p>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="product-review-section">
                <p class="product-text-data">Reviews</p>
                <span>This section is disabled for the current version</span>
            </div>

        </div>
    </div>

</div>