<div class="container">
    <div *ngIf="fetching" class="loading-spinner">
        <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
    </div>

    <div *ngIf="product===null && !fetching" class="error-container">
        <div class="error-container-header">
            <img src="assets/error_24dp.svg" alt="error logo">
            <span>The product is not found</span>
        </div>
        <div class="error-container-footer">
            <button mat-raised-button>Home</button>
            <button mat-raised-button>Shop</button>
        </div>
    </div>

    <div *ngIf="product && !fetching" class="product-card-container">
            <div>
                <span class="product-title">{{product.productName}}</span>
            </div>
            <div>
                <app-carousel [images]="product.productImages" class="carousel-container"></app-carousel>
                <!-- <img [src]="product.productImages[0]" alt="product image" width="100%"> -->
            </div>

        <div class="product-card-right-section">
            <mat-divider></mat-divider>
            <div>
                <span class="product-text-data">MRP (Incl. of all taxes) ₹{{product.productPrice}}</span>
                <button mat-raised-button color="primary" [routerLink]="['/checkout']">Buy</button>
            </div>
            <div>
                <p class="product-text-data">Description</p>
                <p>{{product.productDescription}}</p>
            </div>
            <div>
                <p class="product-text-data">Category</p>
                <span>{{product.productCategory}}</span>
            </div>
            <div>
                <span class="product-text-data">MRP (Incl. of all taxes) ₹{{product.productPrice}}</span>
                <button mat-raised-button color="primary" [routerLink]="['/checkout']">Buy</button>
            </div>

        </div>
    </div>

</div>