.error-container-footer button{
    margin: 0 0.25rem;
}

.product-card-container{
    display: flex;
    flex-direction: column;
}

.product-text-data{
    font-size: 1.1125rem;
    font-weight: 500;
    margin: 0.25rem 0;
}

.product-title{
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0.25rem 0;
}

.product-title-small-screen{
    visibility: hidden;
}

@media screen and (max-width: 1500px){
    .product-card-container{
        flex-direction: column;
    }

    .product-card-left-section{
        width: 99%;
        margin: 1%;
    }

    .product-card-right-section{
        width: 99%;
        margin: 1%;
    }

    .product-title-small-screen{
        visibility: visible;
    }

    .product-title-large-screen{
        visibility: hidden;
    }

    .hidden-small-screen{
        display: none;
    }
    
}